{"openapi":"3.0.0","info":{"version":"2026-04-07","title":"K2 API"},"servers":[{"url":"https://api.kolide.com/"}],"security":[{"api_key":[]}],"paths":{"/audit_logs":{"get":{"summary":"Fetch a list of Audit logs","parameters":[{"name":"x-kolide-api-version","in":"header","description":"Specify the API version to be used","required":false,"schema":{"type":"string","default":"2026-04-07"}},{"name":"cursor","in":"query","description":"Specify the cursor to begin returning results from","required":false,"schema":{"type":"string","default":""}},{"name":"per_page","in":"query","description":"Specify the number of records to return in each response.","required":false,"schema":{"type":"integer","format":"int32","maximum":100,"minimum":1,"default":25}},{"name":"query","in":"query","description":"A query clause used to filter the set of resources returned. Use\n`:` for exact matches (including for boolean fields), `~` for\npartial-string matches. `:[\"a\",\"b\",\"c\"]` or `:[1,2,3]`\ncan be used for fields that support multi-value search.\n Datetime fields support exact-matching\n(`:`) as well as less-than (`<`) and greater-than (`>`). The\nsearchable fields are:\n\n`timestamp` , `actor_name` , `description`\n\nSearch clauses can be combined with the ` AND ` and ` OR ` operators.\n\nFor more information, see the [search documentation](https://www.kolide.com/docs/developers/api#search).\n","required":false,"examples":{"timestamp:":{"summary":"search the 'timestamp' property of the Audit Log records using ':' operator","value":"timestamp:2000-01-08T20:38:21Z"},"timestamp<":{"summary":"search the 'timestamp' property of the Audit Log records using '<' operator","value":"timestamp<2000-01-08T20:38:21Z"},"timestamp>":{"summary":"search the 'timestamp' property of the Audit Log records using '>' operator","value":"timestamp>2000-01-08T20:38:21Z"},"actor_name:":{"summary":"search the 'actor_name' property of the Audit Log records using ':' operator","value":"actor_name:string"},"actor_name~":{"summary":"search the 'actor_name' property of the Audit Log records using '~' operator","value":"actor_name~string"},"description:":{"summary":"search the 'description' property of the Audit Log records using ':' operator","value":"description:string"},"description~":{"summary":"search the 'description' property of the Audit Log records using '~' operator","value":"description~string"}},"schema":{"type":"string"}}],"responses":{"200":{"description":"A paginated collection of Audit logs","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"description":"Kolide maintains an audit log of user actions in the Kolide web\nconsole. Examples of tracked events include, but are not limited to:\n  - Inviting & removing Kolide team members\n  - Changing the display name of a device\n  - Requesting a device deletion\n  - updating a Check's blocking configuration\n  - Approving/denying a registration or exemption request\n","type":"array","items":{"$ref":"#/components/schemas/audit_log"}},"pagination":{"type":"object","description":"Information about the current and next pages of results","properties":{"next":{"type":"string","format":"uri","description":"The full URL that should be used to fetch the next page of results. This will be blank if there are no more results to fetch","example":"https://api.kolide.com/audit_logs?per_page=10&cursor=Imyw"},"current_cursor":{"type":"string","description":"the pagination cursor used to fetch this page of results","example":"Miwy"},"next_cursor":{"type":"string","description":"the pagination cursor that can be used to fetch the page of results following the current page. This will be blank if there are no more results to fetch ","example":"NCw0"},"count":{"type":"integer","description":"the number of records in the current page of results","example":10}}}}}}}},"401":{"description":"An 'unauthorized' response may occur for features restricted by or unavailable to your organization","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"an error message describing why the endpoint is unavailable","example":"This feature has been disabled by your organization"}}}}}},"403":{"description":"A 'forbidden' response may occur if the API key does not have necessary permissions to perform certain actions","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"a succinct error message","example":"Forbidden"},"message":{"type":"string","description":"A longer-form error message explaining the reason for the response","example":"The API key used is not authorized to perform this action"}}}}}}}}},"/audit_logs/{id}":{"get":{"summary":"Fetch information for a specific Audit log","parameters":[{"name":"x-kolide-api-version","in":"header","description":"Specify the API version to be used","required":false,"schema":{"type":"string","default":"2026-04-07"}},{"name":"id","in":"path","required":true,"description":"The ID of the audit log","schema":{"type":"string"}}],"responses":{"200":{"description":"Kolide maintains an audit log of user actions in the Kolide web\nconsole. Examples of tracked events include, but are not limited to:\n  - Inviting & removing Kolide team members\n  - Changing the display name of a device\n  - Requesting a device deletion\n  - updating a Check's blocking configuration\n  - Approving/denying a registration or exemption request\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/audit_log"}}}},"401":{"description":"An 'unauthorized' response may occur for features restricted by or unavailable to your organization","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"an error message describing why the endpoint is unavailable","example":"This feature has been disabled by your organization"}}}}}},"403":{"description":"A 'forbidden' response may occur if the API key does not have necessary permissions to perform certain actions","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"a succinct error message","example":"Forbidden"},"message":{"type":"string","description":"A longer-form error message explaining the reason for the response","example":"The API key used is not authorized to perform this action"}}}}}}}}},"/whoami":{"get":{"summary":"Fetch information about the organization","parameters":[{"name":"x-kolide-api-version","in":"header","description":"Specify the API version to be used","required":false,"schema":{"type":"string","default":"2026-04-07"}}],"responses":{"200":{"description":"Returns information about the customer authenticated by the authorization token.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/who_am_i"}}}},"401":{"description":"An 'unauthorized' response may occur for features restricted by or unavailable to your organization","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"an error message describing why the endpoint is unavailable","example":"This feature has been disabled by your organization"}}}}}},"403":{"description":"A 'forbidden' response may occur if the API key does not have necessary permissions to perform certain actions","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"a succinct error message","example":"Forbidden"},"message":{"type":"string","description":"A longer-form error message explaining the reason for the response","example":"The API key used is not authorized to perform this action"}}}}}}}}},"/devices/{deviceId}/open_issues":{"get":{"summary":"Fetch a list of Issues","parameters":[{"name":"x-kolide-api-version","in":"header","description":"Specify the API version to be used","required":false,"schema":{"type":"string","default":"2026-04-07"}},{"name":"cursor","in":"query","description":"Specify the cursor to begin returning results from","required":false,"schema":{"type":"string","default":""}},{"name":"per_page","in":"query","description":"Specify the number of records to return in each response.","required":false,"schema":{"type":"integer","format":"int32","maximum":100,"minimum":1,"default":25}},{"name":"query","in":"query","description":"A query clause used to filter the set of resources returned. Use\n`:` for exact matches (including for boolean fields), `~` for\npartial-string matches. `:[\"a\",\"b\",\"c\"]` or `:[1,2,3]`\ncan be used for fields that support multi-value search.\n Datetime fields support exact-matching\n(`:`) as well as less-than (`<`) and greater-than (`>`). The\nsearchable fields are:\n\n`id` , `detected_at` , `resolved_at` , `blocks_device_at` , `title` , `issue_key` , `issue_value` , `exempted` , `check_id` , `device_id` , `last_rechecked_at`\n\nSearch clauses can be combined with the ` AND ` and ` OR ` operators.\n\nFor more information, see the [search documentation](https://www.kolide.com/docs/developers/api#search).\n","required":false,"examples":{"id:":{"summary":"search the 'id' property of the Issue records","value":"id:[\"a\", \"b\", \"c\"]"},"detected_at:":{"summary":"search the 'detected_at' property of the Issue records using ':' operator","value":"detected_at:2000-01-08T20:38:21Z"},"detected_at<":{"summary":"search the 'detected_at' property of the Issue records using '<' operator","value":"detected_at<2000-01-08T20:38:21Z"},"detected_at>":{"summary":"search the 'detected_at' property of the Issue records using '>' operator","value":"detected_at>2000-01-08T20:38:21Z"},"resolved_at:":{"summary":"search the 'resolved_at' property of the Issue records using ':' operator","value":"resolved_at:2000-01-08T20:38:21Z"},"resolved_at<":{"summary":"search the 'resolved_at' property of the Issue records using '<' operator","value":"resolved_at<2000-01-08T20:38:21Z"},"resolved_at>":{"summary":"search the 'resolved_at' property of the Issue records using '>' operator","value":"resolved_at>2000-01-08T20:38:21Z"},"blocks_device_at:":{"summary":"search the 'blocks_device_at' property of the Issue records using ':' operator","value":"blocks_device_at:2000-01-08T20:38:21Z"},"blocks_device_at<":{"summary":"search the 'blocks_device_at' property of the Issue records using '<' operator","value":"blocks_device_at<2000-01-08T20:38:21Z"},"blocks_device_at>":{"summary":"search the 'blocks_device_at' property of the Issue records using '>' operator","value":"blocks_device_at>2000-01-08T20:38:21Z"},"title:":{"summary":"search the 'title' property of the Issue records using ':' operator","value":"title:string"},"title~":{"summary":"search the 'title' property of the Issue records using '~' operator","value":"title~string"},"issue_key:":{"summary":"search the 'issue_key' property of the Issue records using ':' operator","value":"issue_key:string"},"issue_key~":{"summary":"search the 'issue_key' property of the Issue records using '~' operator","value":"issue_key~string"},"issue_value:":{"summary":"search the 'issue_value' property of the Issue records using ':' operator","value":"issue_value:string"},"issue_value~":{"summary":"search the 'issue_value' property of the Issue records using '~' operator","value":"issue_value~string"},"exempted:":{"summary":"search the 'exempted' property of the Issue records using ':' operator","value":"exempted:true"},"check_id:":{"summary":"search the 'check_id' property of the Issue records using ':' operator","value":"check_id:string"},"check_id~":{"summary":"search the 'check_id' property of the Issue records using '~' operator","value":"check_id~string"},"device_id:":{"summary":"search the 'device_id' property of the Issue records using ':' operator","value":"device_id:string"},"device_id~":{"summary":"search the 'device_id' property of the Issue records using '~' operator","value":"device_id~string"},"last_rechecked_at:":{"summary":"search the 'last_rechecked_at' property of the Issue records using ':' operator","value":"last_rechecked_at:2000-01-08T20:38:21Z"},"last_rechecked_at<":{"summary":"search the 'last_rechecked_at' property of the Issue records using '<' operator","value":"last_rechecked_at<2000-01-08T20:38:21Z"},"last_rechecked_at>":{"summary":"search the 'last_rechecked_at' property of the Issue records using '>' operator","value":"last_rechecked_at>2000-01-08T20:38:21Z"}},"schema":{"type":"string"}},{"name":"deviceId","in":"path","required":true,"description":"The device ID of the issue","schema":{"type":"string"}}],"responses":{"200":{"description":"A paginated collection of Issues","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"description":"An Issue is created when a device fails a check. Some checks, when\nthey fail, will produce multiple Issues, each with a unique\nprimary_key_value.\n","type":"array","items":{"$ref":"#/components/schemas/issue"}},"pagination":{"type":"object","description":"Information about the current and next pages of results","properties":{"next":{"type":"string","format":"uri","description":"The full URL that should be used to fetch the next page of results. This will be blank if there are no more results to fetch","example":"https://api.kolide.com/open_issues?per_page=10&cursor=Imyw"},"current_cursor":{"type":"string","description":"the pagination cursor used to fetch this page of results","example":"Miwy"},"next_cursor":{"type":"string","description":"the pagination cursor that can be used to fetch the page of results following the current page. This will be blank if there are no more results to fetch ","example":"NCw0"},"count":{"type":"integer","description":"the number of records in the current page of results","example":10}}}}}}}},"401":{"description":"An 'unauthorized' response may occur for features restricted by or unavailable to your organization","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"an error message describing why the endpoint is unavailable","example":"This feature has been disabled by your organization"}}}}}},"403":{"description":"A 'forbidden' response may occur if the API key does not have necessary permissions to perform certain actions","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"a succinct error message","example":"Forbidden"},"message":{"type":"string","description":"A longer-form error message explaining the reason for the response","example":"The API key used is not authorized to perform this action"}}}}}}}}},"/devices/{deviceId}/authentication_mode":{"patch":{"summary":"Update an existing Device authentication mode","parameters":[{"name":"x-kolide-api-version","in":"header","description":"Specify the API version to be used","required":false,"schema":{"type":"string","default":"2026-04-07"}},{"name":"deviceId","in":"path","required":true,"description":"The device ID of the device authentication mode","schema":{"type":"string"}}],"responses":{"200":{"description":"The updated Device authentication mode","content":{"application/json":{"schema":{"$ref":"#/components/schemas/device_authentication_mode"}}}},"401":{"description":"An 'unauthorized' response may occur for features restricted by or unavailable to your organization","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"an error message describing why the endpoint is unavailable","example":"This feature has been disabled by your organization"}}}}}},"403":{"description":"A 'forbidden' response may occur if the API key does not have necessary permissions to perform certain actions","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"a succinct error message","example":"Forbidden"},"message":{"type":"string","description":"A longer-form error message explaining the reason for the response","example":"The API key used is not authorized to perform this action"}}}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/device_authentication_mode_request_body"}}}}},"put":{"summary":"Update an existing Device authentication mode","parameters":[{"name":"x-kolide-api-version","in":"header","description":"Specify the API version to be used","required":false,"schema":{"type":"string","default":"2026-04-07"}},{"name":"deviceId","in":"path","required":true,"description":"The device ID of the device authentication mode","schema":{"type":"string"}}],"responses":{"200":{"description":"The updated Device authentication mode","content":{"application/json":{"schema":{"$ref":"#/components/schemas/device_authentication_mode"}}}},"401":{"description":"An 'unauthorized' response may occur for features restricted by or unavailable to your organization","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"an error message describing why the endpoint is unavailable","example":"This feature has been disabled by your organization"}}}}}},"403":{"description":"A 'forbidden' response may occur if the API key does not have necessary permissions to perform certain actions","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"a succinct error message","example":"Forbidden"},"message":{"type":"string","description":"A longer-form error message explaining the reason for the response","example":"The API key used is not authorized to perform this action"}}}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/device_authentication_mode_request_body"}}}}}},"/devices/{deviceId}/registration":{"delete":{"summary":"Delete a device registration","description":"Remove an existing device registration. This will prevent the\nregistered owner from authenticating with the device. If this device\nis the only registered device for the person, their\nTrust-On-First-Use (TOFU) status will be reset, allowing them to\nregister another device without needing admin approval. Deleting a\nmobile device's registration will also remove the device from the\nKolide.\n","parameters":[{"name":"x-kolide-api-version","in":"header","description":"Specify the API version to be used","required":false,"schema":{"type":"string","default":"2026-04-07"}},{"name":"deviceId","in":"path","required":true,"description":"The device ID of the device registration","schema":{"type":"string"}}],"responses":{"200":{"description":"The deleted Device registration","content":{"application/json":{"schema":{"$ref":"#/components/schemas/device_registration"}}}},"401":{"description":"An 'unauthorized' response may occur for features restricted by or unavailable to your organization","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"an error message describing why the endpoint is unavailable","example":"This feature has been disabled by your organization"}}}}}},"403":{"description":"A 'forbidden' response may occur if the API key does not have necessary permissions to perform certain actions","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"a succinct error message","example":"Forbidden"},"message":{"type":"string","description":"A longer-form error message explaining the reason for the response","example":"The API key used is not authorized to perform this action"}}}}}}}}},"/devices/{deviceId}/check_refreshes":{"post":{"summary":"Create a new Check refresh","parameters":[{"name":"x-kolide-api-version","in":"header","description":"Specify the API version to be used","required":false,"schema":{"type":"string","default":"2026-04-07"}},{"name":"deviceId","in":"path","required":true,"description":"The device ID of the check refresh","schema":{"type":"string"}}],"responses":{"200":{"description":"The newly created Check refresh","content":{"application/json":{"schema":{"$ref":"#/components/schemas/check_refresh"}}}},"401":{"description":"An 'unauthorized' response may occur for features restricted by or unavailable to your organization","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"an error message describing why the endpoint is unavailable","example":"This feature has been disabled by your organization"}}}}}},"403":{"description":"A 'forbidden' response may occur if the API key does not have necessary permissions to perform certain actions","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"a succinct error message","example":"Forbidden"},"message":{"type":"string","description":"A longer-form error message explaining the reason for the response","example":"The API key used is not authorized to perform this action"}}}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/check_refresh_request_body"}}}}}},"/devices/{deviceId}/check_results":{"get":{"summary":"Fetch a list of Check results","parameters":[{"name":"x-kolide-api-version","in":"header","description":"Specify the API version to be used","required":false,"schema":{"type":"string","default":"2026-04-07"}},{"name":"cursor","in":"query","description":"Specify the cursor to begin returning results from","required":false,"schema":{"type":"string","default":""}},{"name":"per_page","in":"query","description":"Specify the number of records to return in each response.","required":false,"schema":{"type":"integer","format":"int32","maximum":100,"minimum":1,"default":25}},{"name":"query","in":"query","description":"A query clause used to filter the set of resources returned. Use\n`:` for exact matches (including for boolean fields), `~` for\npartial-string matches. `:[\"a\",\"b\",\"c\"]` or `:[1,2,3]`\ncan be used for fields that support multi-value search.\n Datetime fields support exact-matching\n(`:`) as well as less-than (`<`) and greater-than (`>`). The\nsearchable fields are:\n\n`device_display_name` , `ran_at` , `check_name` , `status`\n\nSearch clauses can be combined with the ` AND ` and ` OR ` operators.\n\nFor more information, see the [search documentation](https://www.kolide.com/docs/developers/api#search).\n","required":false,"examples":{"device_display_name:":{"summary":"search the 'device_display_name' property of the Check Results records using ':' operator","value":"device_display_name:string"},"device_display_name~":{"summary":"search the 'device_display_name' property of the Check Results records using '~' operator","value":"device_display_name~string"},"ran_at:":{"summary":"search the 'ran_at' property of the Check Results records using ':' operator","value":"ran_at:2000-01-08T20:38:21Z"},"ran_at<":{"summary":"search the 'ran_at' property of the Check Results records using '<' operator","value":"ran_at<2000-01-08T20:38:21Z"},"ran_at>":{"summary":"search the 'ran_at' property of the Check Results records using '>' operator","value":"ran_at>2000-01-08T20:38:21Z"},"check_name:":{"summary":"search the 'check_name' property of the Check Results records using ':' operator","value":"check_name:string"},"check_name~":{"summary":"search the 'check_name' property of the Check Results records using '~' operator","value":"check_name~string"},"status:":{"summary":"search the 'status' property of the Check Results records using ':' operator","value":"status:enumerated-value"}},"schema":{"type":"string"}},{"name":"deviceId","in":"path","required":true,"description":"The device ID of the check","schema":{"type":"string"}}],"responses":{"200":{"description":"A paginated collection of Check results","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"description":"A Check Result describes the data returned the last time a check ran on a single device.\n","type":"array","items":{"$ref":"#/components/schemas/check_result"}},"pagination":{"type":"object","description":"Information about the current and next pages of results","properties":{"next":{"type":"string","format":"uri","description":"The full URL that should be used to fetch the next page of results. This will be blank if there are no more results to fetch","example":"https://api.kolide.com/check_results?per_page=10&cursor=Imyw"},"current_cursor":{"type":"string","description":"the pagination cursor used to fetch this page of results","example":"Miwy"},"next_cursor":{"type":"string","description":"the pagination cursor that can be used to fetch the page of results following the current page. This will be blank if there are no more results to fetch ","example":"NCw0"},"count":{"type":"integer","description":"the number of records in the current page of results","example":10}}}}}}}},"401":{"description":"An 'unauthorized' response may occur for features restricted by or unavailable to your organization","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"an error message describing why the endpoint is unavailable","example":"This feature has been disabled by your organization"}}}}}},"403":{"description":"A 'forbidden' response may occur if the API key does not have necessary permissions to perform certain actions","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"a succinct error message","example":"Forbidden"},"message":{"type":"string","description":"A longer-form error message explaining the reason for the response","example":"The API key used is not authorized to perform this action"}}}}}}}}},"/devices":{"get":{"summary":"Fetch a list of Devices","parameters":[{"name":"x-kolide-api-version","in":"header","description":"Specify the API version to be used","required":false,"schema":{"type":"string","default":"2026-04-07"}},{"name":"cursor","in":"query","description":"Specify the cursor to begin returning results from","required":false,"schema":{"type":"string","default":""}},{"name":"per_page","in":"query","description":"Specify the number of records to return in each response.","required":false,"schema":{"type":"integer","format":"int32","maximum":100,"minimum":1,"default":25}},{"name":"query","in":"query","description":"A query clause used to filter the set of resources returned. Use\n`:` for exact matches (including for boolean fields), `~` for\npartial-string matches. `:[\"a\",\"b\",\"c\"]` or `:[1,2,3]`\ncan be used for fields that support multi-value search.\n Datetime fields support exact-matching\n(`:`) as well as less-than (`<`) and greater-than (`>`). The\nsearchable fields are:\n\n`id` , `name` , `registered_at` , `last_authenticated_at` , `serial` , `note` , `hardware_uuid` , `device_type` , `will_block_at`\n\nSearch clauses can be combined with the ` AND ` and ` OR ` operators.\n\nFor more information, see the [search documentation](https://www.kolide.com/docs/developers/api#search).\n","required":false,"examples":{"id:":{"summary":"search the 'id' property of the Device records","value":"id:[\"a\", \"b\", \"c\"]"},"name:":{"summary":"search the 'name' property of the Device records using ':' operator","value":"name:string"},"name~":{"summary":"search the 'name' property of the Device records using '~' operator","value":"name~string"},"registered_at:":{"summary":"search the 'registered_at' property of the Device records using ':' operator","value":"registered_at:2000-01-08T20:38:21Z"},"registered_at<":{"summary":"search the 'registered_at' property of the Device records using '<' operator","value":"registered_at<2000-01-08T20:38:21Z"},"registered_at>":{"summary":"search the 'registered_at' property of the Device records using '>' operator","value":"registered_at>2000-01-08T20:38:21Z"},"last_authenticated_at:":{"summary":"search the 'last_authenticated_at' property of the Device records using ':' operator","value":"last_authenticated_at:2000-01-08T20:38:21Z"},"last_authenticated_at<":{"summary":"search the 'last_authenticated_at' property of the Device records using '<' operator","value":"last_authenticated_at<2000-01-08T20:38:21Z"},"last_authenticated_at>":{"summary":"search the 'last_authenticated_at' property of the Device records using '>' operator","value":"last_authenticated_at>2000-01-08T20:38:21Z"},"serial:":{"summary":"search the 'serial' property of the Device records using ':' operator","value":"serial:string"},"serial~":{"summary":"search the 'serial' property of the Device records using '~' operator","value":"serial~string"},"note:":{"summary":"search the 'note' property of the Device records using ':' operator","value":"note:string"},"note~":{"summary":"search the 'note' property of the Device records using '~' operator","value":"note~string"},"hardware_uuid:":{"summary":"search the 'hardware_uuid' property of the Device records using ':' operator","value":"hardware_uuid:string"},"hardware_uuid~":{"summary":"search the 'hardware_uuid' property of the Device records using '~' operator","value":"hardware_uuid~string"},"device_type:":{"summary":"search the 'device_type' property of the Device records using ':' operator","value":"device_type:enumerated-value"},"will_block_at:":{"summary":"search the 'will_block_at' property of the Device records using ':' operator","value":"will_block_at:2000-01-08T20:38:21Z"},"will_block_at<":{"summary":"search the 'will_block_at' property of the Device records using '<' operator","value":"will_block_at<2000-01-08T20:38:21Z"},"will_block_at>":{"summary":"search the 'will_block_at' property of the Device records using '>' operator","value":"will_block_at>2000-01-08T20:38:21Z"}},"schema":{"type":"string"}}],"responses":{"200":{"description":"A paginated collection of Devices","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"description":"A Device is a computer or mobile device enrolled into Kolide","type":"array","items":{"$ref":"#/components/schemas/device"}},"pagination":{"type":"object","description":"Information about the current and next pages of results","properties":{"next":{"type":"string","format":"uri","description":"The full URL that should be used to fetch the next page of results. This will be blank if there are no more results to fetch","example":"https://api.kolide.com/devices?per_page=10&cursor=Imyw"},"current_cursor":{"type":"string","description":"the pagination cursor used to fetch this page of results","example":"Miwy"},"next_cursor":{"type":"string","description":"the pagination cursor that can be used to fetch the page of results following the current page. This will be blank if there are no more results to fetch ","example":"NCw0"},"count":{"type":"integer","description":"the number of records in the current page of results","example":10}}}}}}}},"401":{"description":"An 'unauthorized' response may occur for features restricted by or unavailable to your organization","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"an error message describing why the endpoint is unavailable","example":"This feature has been disabled by your organization"}}}}}},"403":{"description":"A 'forbidden' response may occur if the API key does not have necessary permissions to perform certain actions","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"a succinct error message","example":"Forbidden"},"message":{"type":"string","description":"A longer-form error message explaining the reason for the response","example":"The API key used is not authorized to perform this action"}}}}}}}}},"/devices/{id}":{"get":{"summary":"Fetch information for a specific Device","parameters":[{"name":"x-kolide-api-version","in":"header","description":"Specify the API version to be used","required":false,"schema":{"type":"string","default":"2026-04-07"}},{"name":"id","in":"path","required":true,"description":"The ID of the device","schema":{"type":"string"}}],"responses":{"200":{"description":"A Device is a computer or mobile device enrolled into Kolide","content":{"application/json":{"schema":{"$ref":"#/components/schemas/device"}}}},"401":{"description":"An 'unauthorized' response may occur for features restricted by or unavailable to your organization","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"an error message describing why the endpoint is unavailable","example":"This feature has been disabled by your organization"}}}}}},"403":{"description":"A 'forbidden' response may occur if the API key does not have necessary permissions to perform certain actions","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"a succinct error message","example":"Forbidden"},"message":{"type":"string","description":"A longer-form error message explaining the reason for the response","example":"The API key used is not authorized to perform this action"}}}}}}}},"delete":{"summary":"Delete a specific Device","description":"Mark a device as pending deletion. Note that the deletion will not\nhappen immediately: the deletion can be canceled in the web\ninterface until the device is actually deleted. The Kolide agent\non the device will also be disabled to prevent re-enrollment.\nIf this device is the only registered device for a user, their\nTrust-On-First-Use (TOFU) status will be reset, allowing them to\nregister another device without needing admin approval.\n","parameters":[{"name":"x-kolide-api-version","in":"header","description":"Specify the API version to be used","required":false,"schema":{"type":"string","default":"2026-04-07"}},{"name":"id","in":"path","required":true,"description":"The ID of the device","schema":{"type":"string"}}],"responses":{"200":{"description":"The deleted Device","content":{"application/json":{"schema":{"$ref":"#/components/schemas/device"}}}},"401":{"description":"An 'unauthorized' response may occur for features restricted by or unavailable to your organization","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"an error message describing why the endpoint is unavailable","example":"This feature has been disabled by your organization"}}}}}},"403":{"description":"A 'forbidden' response may occur if the API key does not have necessary permissions to perform certain actions","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"a succinct error message","example":"Forbidden"},"message":{"type":"string","description":"A longer-form error message explaining the reason for the response","example":"The API key used is not authorized to perform this action"}}}}}}}}},"/issues":{"get":{"summary":"Fetch a list of Issues","parameters":[{"name":"x-kolide-api-version","in":"header","description":"Specify the API version to be used","required":false,"schema":{"type":"string","default":"2026-04-07"}},{"name":"cursor","in":"query","description":"Specify the cursor to begin returning results from","required":false,"schema":{"type":"string","default":""}},{"name":"per_page","in":"query","description":"Specify the number of records to return in each response.","required":false,"schema":{"type":"integer","format":"int32","maximum":100,"minimum":1,"default":25}},{"name":"query","in":"query","description":"A query clause used to filter the set of resources returned. Use\n`:` for exact matches (including for boolean fields), `~` for\npartial-string matches. `:[\"a\",\"b\",\"c\"]` or `:[1,2,3]`\ncan be used for fields that support multi-value search.\n Datetime fields support exact-matching\n(`:`) as well as less-than (`<`) and greater-than (`>`). The\nsearchable fields are:\n\n`id` , `detected_at` , `resolved_at` , `blocks_device_at` , `title` , `issue_key` , `issue_value` , `exempted` , `check_id` , `device_id` , `last_rechecked_at`\n\nSearch clauses can be combined with the ` AND ` and ` OR ` operators.\n\nFor more information, see the [search documentation](https://www.kolide.com/docs/developers/api#search).\n","required":false,"examples":{"id:":{"summary":"search the 'id' property of the Issue records","value":"id:[\"a\", \"b\", \"c\"]"},"detected_at:":{"summary":"search the 'detected_at' property of the Issue records using ':' operator","value":"detected_at:2000-01-08T20:38:21Z"},"detected_at<":{"summary":"search the 'detected_at' property of the Issue records using '<' operator","value":"detected_at<2000-01-08T20:38:21Z"},"detected_at>":{"summary":"search the 'detected_at' property of the Issue records using '>' operator","value":"detected_at>2000-01-08T20:38:21Z"},"resolved_at:":{"summary":"search the 'resolved_at' property of the Issue records using ':' operator","value":"resolved_at:2000-01-08T20:38:21Z"},"resolved_at<":{"summary":"search the 'resolved_at' property of the Issue records using '<' operator","value":"resolved_at<2000-01-08T20:38:21Z"},"resolved_at>":{"summary":"search the 'resolved_at' property of the Issue records using '>' operator","value":"resolved_at>2000-01-08T20:38:21Z"},"blocks_device_at:":{"summary":"search the 'blocks_device_at' property of the Issue records using ':' operator","value":"blocks_device_at:2000-01-08T20:38:21Z"},"blocks_device_at<":{"summary":"search the 'blocks_device_at' property of the Issue records using '<' operator","value":"blocks_device_at<2000-01-08T20:38:21Z"},"blocks_device_at>":{"summary":"search the 'blocks_device_at' property of the Issue records using '>' operator","value":"blocks_device_at>2000-01-08T20:38:21Z"},"title:":{"summary":"search the 'title' property of the Issue records using ':' operator","value":"title:string"},"title~":{"summary":"search the 'title' property of the Issue records using '~' operator","value":"title~string"},"issue_key:":{"summary":"search the 'issue_key' property of the Issue records using ':' operator","value":"issue_key:string"},"issue_key~":{"summary":"search the 'issue_key' property of the Issue records using '~' operator","value":"issue_key~string"},"issue_value:":{"summary":"search the 'issue_value' property of the Issue records using ':' operator","value":"issue_value:string"},"issue_value~":{"summary":"search the 'issue_value' property of the Issue records using '~' operator","value":"issue_value~string"},"exempted:":{"summary":"search the 'exempted' property of the Issue records using ':' operator","value":"exempted:true"},"check_id:":{"summary":"search the 'check_id' property of the Issue records using ':' operator","value":"check_id:string"},"check_id~":{"summary":"search the 'check_id' property of the Issue records using '~' operator","value":"check_id~string"},"device_id:":{"summary":"search the 'device_id' property of the Issue records using ':' operator","value":"device_id:string"},"device_id~":{"summary":"search the 'device_id' property of the Issue records using '~' operator","value":"device_id~string"},"last_rechecked_at:":{"summary":"search the 'last_rechecked_at' property of the Issue records using ':' operator","value":"last_rechecked_at:2000-01-08T20:38:21Z"},"last_rechecked_at<":{"summary":"search the 'last_rechecked_at' property of the Issue records using '<' operator","value":"last_rechecked_at<2000-01-08T20:38:21Z"},"last_rechecked_at>":{"summary":"search the 'last_rechecked_at' property of the Issue records using '>' operator","value":"last_rechecked_at>2000-01-08T20:38:21Z"}},"schema":{"type":"string"}}],"responses":{"200":{"description":"A paginated collection of Issues","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"description":"An Issue is created when a device fails a check. Some checks, when\nthey fail, will produce multiple Issues, each with a unique\nprimary_key_value.\n","type":"array","items":{"$ref":"#/components/schemas/issue"}},"pagination":{"type":"object","description":"Information about the current and next pages of results","properties":{"next":{"type":"string","format":"uri","description":"The full URL that should be used to fetch the next page of results. This will be blank if there are no more results to fetch","example":"https://api.kolide.com/issues?per_page=10&cursor=Imyw"},"current_cursor":{"type":"string","description":"the pagination cursor used to fetch this page of results","example":"Miwy"},"next_cursor":{"type":"string","description":"the pagination cursor that can be used to fetch the page of results following the current page. This will be blank if there are no more results to fetch ","example":"NCw0"},"count":{"type":"integer","description":"the number of records in the current page of results","example":10}}}}}}}},"401":{"description":"An 'unauthorized' response may occur for features restricted by or unavailable to your organization","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"an error message describing why the endpoint is unavailable","example":"This feature has been disabled by your organization"}}}}}},"403":{"description":"A 'forbidden' response may occur if the API key does not have necessary permissions to perform certain actions","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"a succinct error message","example":"Forbidden"},"message":{"type":"string","description":"A longer-form error message explaining the reason for the response","example":"The API key used is not authorized to perform this action"}}}}}}}}},"/issues/{id}":{"get":{"summary":"Fetch information for a specific Issue","parameters":[{"name":"x-kolide-api-version","in":"header","description":"Specify the API version to be used","required":false,"schema":{"type":"string","default":"2026-04-07"}},{"name":"id","in":"path","required":true,"description":"The ID of the issue","schema":{"type":"string"}}],"responses":{"200":{"description":"An Issue is created when a device fails a check. Some checks, when\nthey fail, will produce multiple Issues, each with a unique\nprimary_key_value.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/issue"}}}},"401":{"description":"An 'unauthorized' response may occur for features restricted by or unavailable to your organization","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"an error message describing why the endpoint is unavailable","example":"This feature has been disabled by your organization"}}}}}},"403":{"description":"A 'forbidden' response may occur if the API key does not have necessary permissions to perform certain actions","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"a succinct error message","example":"Forbidden"},"message":{"type":"string","description":"A longer-form error message explaining the reason for the response","example":"The API key used is not authorized to perform this action"}}}}}}}}},"/deprovisioned_people":{"get":{"summary":"Fetch a list of the people that have been deprovisioned","parameters":[{"name":"x-kolide-api-version","in":"header","description":"Specify the API version to be used","required":false,"schema":{"type":"string","default":"2026-04-07"}},{"name":"cursor","in":"query","description":"Specify the cursor to begin returning results from","required":false,"schema":{"type":"string","default":""}},{"name":"per_page","in":"query","description":"Specify the number of records to return in each response.","required":false,"schema":{"type":"integer","format":"int32","maximum":100,"minimum":1,"default":25}},{"name":"query","in":"query","description":"A query clause used to filter the set of resources returned. Use\n`:` for exact matches (including for boolean fields), `~` for\npartial-string matches. `:[\"a\",\"b\",\"c\"]` or `:[1,2,3]`\ncan be used for fields that support multi-value search.\n Datetime fields support exact-matching\n(`:`) as well as less-than (`<`) and greater-than (`>`). The\nsearchable fields are:\n\n`id` , `email` , `name` , `last_authenticated_at`\n\nSearch clauses can be combined with the ` AND ` and ` OR ` operators.\n\nFor more information, see the [search documentation](https://www.kolide.com/docs/developers/api#search).\n","required":false,"examples":{"id:":{"summary":"search the 'id' property of the Deprovisioned Person records","value":"id:[\"a\", \"b\", \"c\"]"},"email:":{"summary":"search the 'email' property of the Deprovisioned Person records using ':' operator","value":"email:string"},"email~":{"summary":"search the 'email' property of the Deprovisioned Person records using '~' operator","value":"email~string"},"name:":{"summary":"search the 'name' property of the Deprovisioned Person records using ':' operator","value":"name:string"},"name~":{"summary":"search the 'name' property of the Deprovisioned Person records using '~' operator","value":"name~string"},"last_authenticated_at:":{"summary":"search the 'last_authenticated_at' property of the Deprovisioned Person records using ':' operator","value":"last_authenticated_at:2000-01-08T20:38:21Z"},"last_authenticated_at<":{"summary":"search the 'last_authenticated_at' property of the Deprovisioned Person records using '<' operator","value":"last_authenticated_at<2000-01-08T20:38:21Z"},"last_authenticated_at>":{"summary":"search the 'last_authenticated_at' property of the Deprovisioned Person records using '>' operator","value":"last_authenticated_at>2000-01-08T20:38:21Z"}},"schema":{"type":"string"}}],"responses":{"200":{"description":"A paginated collection of Deprovisioned people","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"description":"A Deprovisioned Person is a representation of a Person that has been\nremoved from Kolide via SCIM\n","type":"array","items":{"$ref":"#/components/schemas/deprovisioned_person"}},"pagination":{"type":"object","description":"Information about the current and next pages of results","properties":{"next":{"type":"string","format":"uri","description":"The full URL that should be used to fetch the next page of results. This will be blank if there are no more results to fetch","example":"https://api.kolide.com/deprovisioned_people?per_page=10&cursor=Imyw"},"current_cursor":{"type":"string","description":"the pagination cursor used to fetch this page of results","example":"Miwy"},"next_cursor":{"type":"string","description":"the pagination cursor that can be used to fetch the page of results following the current page. This will be blank if there are no more results to fetch ","example":"NCw0"},"count":{"type":"integer","description":"the number of records in the current page of results","example":10}}}}}}}},"401":{"description":"An 'unauthorized' response may occur for features restricted by or unavailable to your organization","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"an error message describing why the endpoint is unavailable","example":"This feature has been disabled by your organization"}}}}}},"403":{"description":"A 'forbidden' response may occur if the API key does not have necessary permissions to perform certain actions","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"a succinct error message","example":"Forbidden"},"message":{"type":"string","description":"A longer-form error message explaining the reason for the response","example":"The API key used is not authorized to perform this action"}}}}}}}}},"/packages":{"get":{"summary":"Fetch a list of Packages","parameters":[{"name":"x-kolide-api-version","in":"header","description":"Specify the API version to be used","required":false,"schema":{"type":"string","default":"2026-04-07"}},{"name":"cursor","in":"query","description":"Specify the cursor to begin returning results from","required":false,"schema":{"type":"string","default":""}},{"name":"per_page","in":"query","description":"Specify the number of records to return in each response.","required":false,"schema":{"type":"integer","format":"int32","maximum":100,"minimum":1,"default":25}}],"responses":{"200":{"description":"A paginated collection of Packages","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"description":"Installation packages are available for each of the major operating systems.\n","type":"array","items":{"$ref":"#/components/schemas/package"}},"pagination":{"type":"object","description":"Information about the current and next pages of results","properties":{"next":{"type":"string","format":"uri","description":"The full URL that should be used to fetch the next page of results. This will be blank if there are no more results to fetch","example":"https://api.kolide.com/packages?per_page=10&cursor=Imyw"},"current_cursor":{"type":"string","description":"the pagination cursor used to fetch this page of results","example":"Miwy"},"next_cursor":{"type":"string","description":"the pagination cursor that can be used to fetch the page of results following the current page. This will be blank if there are no more results to fetch ","example":"NCw0"},"count":{"type":"integer","description":"the number of records in the current page of results","example":10}}}}}}}},"401":{"description":"An 'unauthorized' response may occur for features restricted by or unavailable to your organization","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"an error message describing why the endpoint is unavailable","example":"This feature has been disabled by your organization"}}}}}},"403":{"description":"A 'forbidden' response may occur if the API key does not have necessary permissions to perform certain actions","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"a succinct error message","example":"Forbidden"},"message":{"type":"string","description":"A longer-form error message explaining the reason for the response","example":"The API key used is not authorized to perform this action"}}}}}}}}},"/packages/{id}":{"get":{"summary":"Fetch information for a specific Package","parameters":[{"name":"x-kolide-api-version","in":"header","description":"Specify the API version to be used","required":false,"schema":{"type":"string","default":"2026-04-07"}},{"name":"id","in":"path","required":true,"description":"The ID of the package","schema":{"type":"string"}}],"responses":{"200":{"description":"Installation packages are available for each of the major operating systems.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/package"}}}},"401":{"description":"An 'unauthorized' response may occur for features restricted by or unavailable to your organization","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"an error message describing why the endpoint is unavailable","example":"This feature has been disabled by your organization"}}}}}},"403":{"description":"A 'forbidden' response may occur if the API key does not have necessary permissions to perform certain actions","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"a succinct error message","example":"Forbidden"},"message":{"type":"string","description":"A longer-form error message explaining the reason for the response","example":"The API key used is not authorized to perform this action"}}}}}}}}},"/people/{personId}/registered_devices":{"get":{"summary":"Fetch a list of Devices","parameters":[{"name":"x-kolide-api-version","in":"header","description":"Specify the API version to be used","required":false,"schema":{"type":"string","default":"2026-04-07"}},{"name":"cursor","in":"query","description":"Specify the cursor to begin returning results from","required":false,"schema":{"type":"string","default":""}},{"name":"per_page","in":"query","description":"Specify the number of records to return in each response.","required":false,"schema":{"type":"integer","format":"int32","maximum":100,"minimum":1,"default":25}},{"name":"query","in":"query","description":"A query clause used to filter the set of resources returned. Use\n`:` for exact matches (including for boolean fields), `~` for\npartial-string matches. `:[\"a\",\"b\",\"c\"]` or `:[1,2,3]`\ncan be used for fields that support multi-value search.\n Datetime fields support exact-matching\n(`:`) as well as less-than (`<`) and greater-than (`>`). The\nsearchable fields are:\n\n`id` , `name` , `registered_at` , `last_authenticated_at` , `serial` , `note` , `hardware_uuid` , `device_type` , `will_block_at`\n\nSearch clauses can be combined with the ` AND ` and ` OR ` operators.\n\nFor more information, see the [search documentation](https://www.kolide.com/docs/developers/api#search).\n","required":false,"examples":{"id:":{"summary":"search the 'id' property of the Device records","value":"id:[\"a\", \"b\", \"c\"]"},"name:":{"summary":"search the 'name' property of the Device records using ':' operator","value":"name:string"},"name~":{"summary":"search the 'name' property of the Device records using '~' operator","value":"name~string"},"registered_at:":{"summary":"search the 'registered_at' property of the Device records using ':' operator","value":"registered_at:2000-01-08T20:38:21Z"},"registered_at<":{"summary":"search the 'registered_at' property of the Device records using '<' operator","value":"registered_at<2000-01-08T20:38:21Z"},"registered_at>":{"summary":"search the 'registered_at' property of the Device records using '>' operator","value":"registered_at>2000-01-08T20:38:21Z"},"last_authenticated_at:":{"summary":"search the 'last_authenticated_at' property of the Device records using ':' operator","value":"last_authenticated_at:2000-01-08T20:38:21Z"},"last_authenticated_at<":{"summary":"search the 'last_authenticated_at' property of the Device records using '<' operator","value":"last_authenticated_at<2000-01-08T20:38:21Z"},"last_authenticated_at>":{"summary":"search the 'last_authenticated_at' property of the Device records using '>' operator","value":"last_authenticated_at>2000-01-08T20:38:21Z"},"serial:":{"summary":"search the 'serial' property of the Device records using ':' operator","value":"serial:string"},"serial~":{"summary":"search the 'serial' property of the Device records using '~' operator","value":"serial~string"},"note:":{"summary":"search the 'note' property of the Device records using ':' operator","value":"note:string"},"note~":{"summary":"search the 'note' property of the Device records using '~' operator","value":"note~string"},"hardware_uuid:":{"summary":"search the 'hardware_uuid' property of the Device records using ':' operator","value":"hardware_uuid:string"},"hardware_uuid~":{"summary":"search the 'hardware_uuid' property of the Device records using '~' operator","value":"hardware_uuid~string"},"device_type:":{"summary":"search the 'device_type' property of the Device records using ':' operator","value":"device_type:enumerated-value"},"will_block_at:":{"summary":"search the 'will_block_at' property of the Device records using ':' operator","value":"will_block_at:2000-01-08T20:38:21Z"},"will_block_at<":{"summary":"search the 'will_block_at' property of the Device records using '<' operator","value":"will_block_at<2000-01-08T20:38:21Z"},"will_block_at>":{"summary":"search the 'will_block_at' property of the Device records using '>' operator","value":"will_block_at>2000-01-08T20:38:21Z"}},"schema":{"type":"string"}},{"name":"personId","in":"path","required":true,"description":"The person ID of the device","schema":{"type":"string"}}],"responses":{"200":{"description":"A paginated collection of Devices","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"description":"A Device is a computer or mobile device enrolled into Kolide","type":"array","items":{"$ref":"#/components/schemas/device"}},"pagination":{"type":"object","description":"Information about the current and next pages of results","properties":{"next":{"type":"string","format":"uri","description":"The full URL that should be used to fetch the next page of results. This will be blank if there are no more results to fetch","example":"https://api.kolide.com/registered_devices?per_page=10&cursor=Imyw"},"current_cursor":{"type":"string","description":"the pagination cursor used to fetch this page of results","example":"Miwy"},"next_cursor":{"type":"string","description":"the pagination cursor that can be used to fetch the page of results following the current page. This will be blank if there are no more results to fetch ","example":"NCw0"},"count":{"type":"integer","description":"the number of records in the current page of results","example":10}}}}}}}},"401":{"description":"An 'unauthorized' response may occur for features restricted by or unavailable to your organization","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"an error message describing why the endpoint is unavailable","example":"This feature has been disabled by your organization"}}}}}},"403":{"description":"A 'forbidden' response may occur if the API key does not have necessary permissions to perform certain actions","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"a succinct error message","example":"Forbidden"},"message":{"type":"string","description":"A longer-form error message explaining the reason for the response","example":"The API key used is not authorized to perform this action"}}}}}}}}},"/people/{personId}/open_issues":{"get":{"summary":"Fetch a list of Issues","parameters":[{"name":"x-kolide-api-version","in":"header","description":"Specify the API version to be used","required":false,"schema":{"type":"string","default":"2026-04-07"}},{"name":"cursor","in":"query","description":"Specify the cursor to begin returning results from","required":false,"schema":{"type":"string","default":""}},{"name":"per_page","in":"query","description":"Specify the number of records to return in each response.","required":false,"schema":{"type":"integer","format":"int32","maximum":100,"minimum":1,"default":25}},{"name":"query","in":"query","description":"A query clause used to filter the set of resources returned. Use\n`:` for exact matches (including for boolean fields), `~` for\npartial-string matches. `:[\"a\",\"b\",\"c\"]` or `:[1,2,3]`\ncan be used for fields that support multi-value search.\n Datetime fields support exact-matching\n(`:`) as well as less-than (`<`) and greater-than (`>`). The\nsearchable fields are:\n\n`id` , `detected_at` , `resolved_at` , `blocks_device_at` , `title` , `issue_key` , `issue_value` , `exempted` , `check_id` , `device_id` , `last_rechecked_at`\n\nSearch clauses can be combined with the ` AND ` and ` OR ` operators.\n\nFor more information, see the [search documentation](https://www.kolide.com/docs/developers/api#search).\n","required":false,"examples":{"id:":{"summary":"search the 'id' property of the Issue records","value":"id:[\"a\", \"b\", \"c\"]"},"detected_at:":{"summary":"search the 'detected_at' property of the Issue records using ':' operator","value":"detected_at:2000-01-08T20:38:21Z"},"detected_at<":{"summary":"search the 'detected_at' property of the Issue records using '<' operator","value":"detected_at<2000-01-08T20:38:21Z"},"detected_at>":{"summary":"search the 'detected_at' property of the Issue records using '>' operator","value":"detected_at>2000-01-08T20:38:21Z"},"resolved_at:":{"summary":"search the 'resolved_at' property of the Issue records using ':' operator","value":"resolved_at:2000-01-08T20:38:21Z"},"resolved_at<":{"summary":"search the 'resolved_at' property of the Issue records using '<' operator","value":"resolved_at<2000-01-08T20:38:21Z"},"resolved_at>":{"summary":"search the 'resolved_at' property of the Issue records using '>' operator","value":"resolved_at>2000-01-08T20:38:21Z"},"blocks_device_at:":{"summary":"search the 'blocks_device_at' property of the Issue records using ':' operator","value":"blocks_device_at:2000-01-08T20:38:21Z"},"blocks_device_at<":{"summary":"search the 'blocks_device_at' property of the Issue records using '<' operator","value":"blocks_device_at<2000-01-08T20:38:21Z"},"blocks_device_at>":{"summary":"search the 'blocks_device_at' property of the Issue records using '>' operator","value":"blocks_device_at>2000-01-08T20:38:21Z"},"title:":{"summary":"search the 'title' property of the Issue records using ':' operator","value":"title:string"},"title~":{"summary":"search the 'title' property of the Issue records using '~' operator","value":"title~string"},"issue_key:":{"summary":"search the 'issue_key' property of the Issue records using ':' operator","value":"issue_key:string"},"issue_key~":{"summary":"search the 'issue_key' property of the Issue records using '~' operator","value":"issue_key~string"},"issue_value:":{"summary":"search the 'issue_value' property of the Issue records using ':' operator","value":"issue_value:string"},"issue_value~":{"summary":"search the 'issue_value' property of the Issue records using '~' operator","value":"issue_value~string"},"exempted:":{"summary":"search the 'exempted' property of the Issue records using ':' operator","value":"exempted:true"},"check_id:":{"summary":"search the 'check_id' property of the Issue records using ':' operator","value":"check_id:string"},"check_id~":{"summary":"search the 'check_id' property of the Issue records using '~' operator","value":"check_id~string"},"device_id:":{"summary":"search the 'device_id' property of the Issue records using ':' operator","value":"device_id:string"},"device_id~":{"summary":"search the 'device_id' property of the Issue records using '~' operator","value":"device_id~string"},"last_rechecked_at:":{"summary":"search the 'last_rechecked_at' property of the Issue records using ':' operator","value":"last_rechecked_at:2000-01-08T20:38:21Z"},"last_rechecked_at<":{"summary":"search the 'last_rechecked_at' property of the Issue records using '<' operator","value":"last_rechecked_at<2000-01-08T20:38:21Z"},"last_rechecked_at>":{"summary":"search the 'last_rechecked_at' property of the Issue records using '>' operator","value":"last_rechecked_at>2000-01-08T20:38:21Z"}},"schema":{"type":"string"}},{"name":"personId","in":"path","required":true,"description":"The person ID of the issue","schema":{"type":"string"}}],"responses":{"200":{"description":"A paginated collection of Issues","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"description":"An Issue is created when a device fails a check. Some checks, when\nthey fail, will produce multiple Issues, each with a unique\nprimary_key_value.\n","type":"array","items":{"$ref":"#/components/schemas/issue"}},"pagination":{"type":"object","description":"Information about the current and next pages of results","properties":{"next":{"type":"string","format":"uri","description":"The full URL that should be used to fetch the next page of results. This will be blank if there are no more results to fetch","example":"https://api.kolide.com/open_issues?per_page=10&cursor=Imyw"},"current_cursor":{"type":"string","description":"the pagination cursor used to fetch this page of results","example":"Miwy"},"next_cursor":{"type":"string","description":"the pagination cursor that can be used to fetch the page of results following the current page. This will be blank if there are no more results to fetch ","example":"NCw0"},"count":{"type":"integer","description":"the number of records in the current page of results","example":10}}}}}}}},"401":{"description":"An 'unauthorized' response may occur for features restricted by or unavailable to your organization","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"an error message describing why the endpoint is unavailable","example":"This feature has been disabled by your organization"}}}}}},"403":{"description":"A 'forbidden' response may occur if the API key does not have necessary permissions to perform certain actions","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"a succinct error message","example":"Forbidden"},"message":{"type":"string","description":"A longer-form error message explaining the reason for the response","example":"The API key used is not authorized to perform this action"}}}}}}}}},"/people/{personId}/person_groups":{"get":{"summary":"Fetch a list of Person groups","parameters":[{"name":"x-kolide-api-version","in":"header","description":"Specify the API version to be used","required":false,"schema":{"type":"string","default":"2026-04-07"}},{"name":"cursor","in":"query","description":"Specify the cursor to begin returning results from","required":false,"schema":{"type":"string","default":""}},{"name":"per_page","in":"query","description":"Specify the number of records to return in each response.","required":false,"schema":{"type":"integer","format":"int32","maximum":100,"minimum":1,"default":25}},{"name":"query","in":"query","description":"A query clause used to filter the set of resources returned. Use\n`:` for exact matches (including for boolean fields), `~` for\npartial-string matches. `:[\"a\",\"b\",\"c\"]` or `:[1,2,3]`\ncan be used for fields that support multi-value search.\n Datetime fields support exact-matching\n(`:`) as well as less-than (`<`) and greater-than (`>`). The\nsearchable fields are:\n\n`name`\n\nSearch clauses can be combined with the ` AND ` and ` OR ` operators.\n\nFor more information, see the [search documentation](https://www.kolide.com/docs/developers/api#search).\n","required":false,"examples":{"name:":{"summary":"search the 'name' property of the Person Group records using ':' operator","value":"name:string"},"name~":{"summary":"search the 'name' property of the Person Group records using '~' operator","value":"name~string"}},"schema":{"type":"string"}},{"name":"personId","in":"path","required":true,"description":"The person ID of the person group","schema":{"type":"string"}}],"responses":{"200":{"description":"A paginated collection of Person groups","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"description":"A group of people, these are synced from your SCIM provider\n","type":"array","items":{"$ref":"#/components/schemas/person_group"}},"pagination":{"type":"object","description":"Information about the current and next pages of results","properties":{"next":{"type":"string","format":"uri","description":"The full URL that should be used to fetch the next page of results. This will be blank if there are no more results to fetch","example":"https://api.kolide.com/person_groups?per_page=10&cursor=Imyw"},"current_cursor":{"type":"string","description":"the pagination cursor used to fetch this page of results","example":"Miwy"},"next_cursor":{"type":"string","description":"the pagination cursor that can be used to fetch the page of results following the current page. This will be blank if there are no more results to fetch ","example":"NCw0"},"count":{"type":"integer","description":"the number of records in the current page of results","example":10}}}}}}}},"401":{"description":"An 'unauthorized' response may occur for features restricted by or unavailable to your organization","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"an error message describing why the endpoint is unavailable","example":"This feature has been disabled by your organization"}}}}}},"403":{"description":"A 'forbidden' response may occur if the API key does not have necessary permissions to perform certain actions","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"a succinct error message","example":"Forbidden"},"message":{"type":"string","description":"A longer-form error message explaining the reason for the response","example":"The API key used is not authorized to perform this action"}}}}}}}}},"/people":{"get":{"summary":"Fetch a list of People","parameters":[{"name":"x-kolide-api-version","in":"header","description":"Specify the API version to be used","required":false,"schema":{"type":"string","default":"2026-04-07"}},{"name":"cursor","in":"query","description":"Specify the cursor to begin returning results from","required":false,"schema":{"type":"string","default":""}},{"name":"per_page","in":"query","description":"Specify the number of records to return in each response.","required":false,"schema":{"type":"integer","format":"int32","maximum":100,"minimum":1,"default":25}},{"name":"query","in":"query","description":"A query clause used to filter the set of resources returned. Use\n`:` for exact matches (including for boolean fields), `~` for\npartial-string matches. `:[\"a\",\"b\",\"c\"]` or `:[1,2,3]`\ncan be used for fields that support multi-value search.\n Datetime fields support exact-matching\n(`:`) as well as less-than (`<`) and greater-than (`>`). The\nsearchable fields are:\n\n`id` , `email` , `name` , `last_authenticated_at`\n\nSearch clauses can be combined with the ` AND ` and ` OR ` operators.\n\nFor more information, see the [search documentation](https://www.kolide.com/docs/developers/api#search).\n","required":false,"examples":{"id:":{"summary":"search the 'id' property of the Person records","value":"id:[\"a\", \"b\", \"c\"]"},"email:":{"summary":"search the 'email' property of the Person records using ':' operator","value":"email:string"},"email~":{"summary":"search the 'email' property of the Person records using '~' operator","value":"email~string"},"name:":{"summary":"search the 'name' property of the Person records using ':' operator","value":"name:string"},"name~":{"summary":"search the 'name' property of the Person records using '~' operator","value":"name~string"},"last_authenticated_at:":{"summary":"search the 'last_authenticated_at' property of the Person records using ':' operator","value":"last_authenticated_at:2000-01-08T20:38:21Z"},"last_authenticated_at<":{"summary":"search the 'last_authenticated_at' property of the Person records using '<' operator","value":"last_authenticated_at<2000-01-08T20:38:21Z"},"last_authenticated_at>":{"summary":"search the 'last_authenticated_at' property of the Person records using '>' operator","value":"last_authenticated_at>2000-01-08T20:38:21Z"}},"schema":{"type":"string"}}],"responses":{"200":{"description":"A paginated collection of People","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"description":"A Person is a representation of a human in your organization, not\nnecessarily someone with admin access to the Kolide dashboard.\nDevices can be registered to a person.\n","type":"array","items":{"$ref":"#/components/schemas/person"}},"pagination":{"type":"object","description":"Information about the current and next pages of results","properties":{"next":{"type":"string","format":"uri","description":"The full URL that should be used to fetch the next page of results. This will be blank if there are no more results to fetch","example":"https://api.kolide.com/people?per_page=10&cursor=Imyw"},"current_cursor":{"type":"string","description":"the pagination cursor used to fetch this page of results","example":"Miwy"},"next_cursor":{"type":"string","description":"the pagination cursor that can be used to fetch the page of results following the current page. This will be blank if there are no more results to fetch ","example":"NCw0"},"count":{"type":"integer","description":"the number of records in the current page of results","example":10}}}}}}}},"401":{"description":"An 'unauthorized' response may occur for features restricted by or unavailable to your organization","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"an error message describing why the endpoint is unavailable","example":"This feature has been disabled by your organization"}}}}}},"403":{"description":"A 'forbidden' response may occur if the API key does not have necessary permissions to perform certain actions","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"a succinct error message","example":"Forbidden"},"message":{"type":"string","description":"A longer-form error message explaining the reason for the response","example":"The API key used is not authorized to perform this action"}}}}}}}}},"/people/{id}":{"get":{"summary":"Fetch information for a specific Person","parameters":[{"name":"x-kolide-api-version","in":"header","description":"Specify the API version to be used","required":false,"schema":{"type":"string","default":"2026-04-07"}},{"name":"id","in":"path","required":true,"description":"The ID of the person","schema":{"type":"string"}}],"responses":{"200":{"description":"A Person is a representation of a human in your organization, not\nnecessarily someone with admin access to the Kolide dashboard.\nDevices can be registered to a person.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/person"}}}},"401":{"description":"An 'unauthorized' response may occur for features restricted by or unavailable to your organization","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"an error message describing why the endpoint is unavailable","example":"This feature has been disabled by your organization"}}}}}},"403":{"description":"A 'forbidden' response may occur if the API key does not have necessary permissions to perform certain actions","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"a succinct error message","example":"Forbidden"},"message":{"type":"string","description":"A longer-form error message explaining the reason for the response","example":"The API key used is not authorized to perform this action"}}}}}}}}},"/person_groups/{personGroupId}/people":{"get":{"summary":"Fetch a list of People","parameters":[{"name":"x-kolide-api-version","in":"header","description":"Specify the API version to be used","required":false,"schema":{"type":"string","default":"2026-04-07"}},{"name":"cursor","in":"query","description":"Specify the cursor to begin returning results from","required":false,"schema":{"type":"string","default":""}},{"name":"per_page","in":"query","description":"Specify the number of records to return in each response.","required":false,"schema":{"type":"integer","format":"int32","maximum":100,"minimum":1,"default":25}},{"name":"query","in":"query","description":"A query clause used to filter the set of resources returned. Use\n`:` for exact matches (including for boolean fields), `~` for\npartial-string matches. `:[\"a\",\"b\",\"c\"]` or `:[1,2,3]`\ncan be used for fields that support multi-value search.\n Datetime fields support exact-matching\n(`:`) as well as less-than (`<`) and greater-than (`>`). The\nsearchable fields are:\n\n`id` , `email` , `name` , `last_authenticated_at`\n\nSearch clauses can be combined with the ` AND ` and ` OR ` operators.\n\nFor more information, see the [search documentation](https://www.kolide.com/docs/developers/api#search).\n","required":false,"examples":{"id:":{"summary":"search the 'id' property of the Person records","value":"id:[\"a\", \"b\", \"c\"]"},"email:":{"summary":"search the 'email' property of the Person records using ':' operator","value":"email:string"},"email~":{"summary":"search the 'email' property of the Person records using '~' operator","value":"email~string"},"name:":{"summary":"search the 'name' property of the Person records using ':' operator","value":"name:string"},"name~":{"summary":"search the 'name' property of the Person records using '~' operator","value":"name~string"},"last_authenticated_at:":{"summary":"search the 'last_authenticated_at' property of the Person records using ':' operator","value":"last_authenticated_at:2000-01-08T20:38:21Z"},"last_authenticated_at<":{"summary":"search the 'last_authenticated_at' property of the Person records using '<' operator","value":"last_authenticated_at<2000-01-08T20:38:21Z"},"last_authenticated_at>":{"summary":"search the 'last_authenticated_at' property of the Person records using '>' operator","value":"last_authenticated_at>2000-01-08T20:38:21Z"}},"schema":{"type":"string"}},{"name":"personGroupId","in":"path","required":true,"description":"The person group ID of the person","schema":{"type":"string"}}],"responses":{"200":{"description":"A paginated collection of People","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"description":"A Person is a representation of a human in your organization, not\nnecessarily someone with admin access to the Kolide dashboard.\nDevices can be registered to a person.\n","type":"array","items":{"$ref":"#/components/schemas/person"}},"pagination":{"type":"object","description":"Information about the current and next pages of results","properties":{"next":{"type":"string","format":"uri","description":"The full URL that should be used to fetch the next page of results. This will be blank if there are no more results to fetch","example":"https://api.kolide.com/people?per_page=10&cursor=Imyw"},"current_cursor":{"type":"string","description":"the pagination cursor used to fetch this page of results","example":"Miwy"},"next_cursor":{"type":"string","description":"the pagination cursor that can be used to fetch the page of results following the current page. This will be blank if there are no more results to fetch ","example":"NCw0"},"count":{"type":"integer","description":"the number of records in the current page of results","example":10}}}}}}}},"401":{"description":"An 'unauthorized' response may occur for features restricted by or unavailable to your organization","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"an error message describing why the endpoint is unavailable","example":"This feature has been disabled by your organization"}}}}}},"403":{"description":"A 'forbidden' response may occur if the API key does not have necessary permissions to perform certain actions","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"a succinct error message","example":"Forbidden"},"message":{"type":"string","description":"A longer-form error message explaining the reason for the response","example":"The API key used is not authorized to perform this action"}}}}}}}}},"/person_groups":{"get":{"summary":"Fetch a list of Person groups","parameters":[{"name":"x-kolide-api-version","in":"header","description":"Specify the API version to be used","required":false,"schema":{"type":"string","default":"2026-04-07"}},{"name":"cursor","in":"query","description":"Specify the cursor to begin returning results from","required":false,"schema":{"type":"string","default":""}},{"name":"per_page","in":"query","description":"Specify the number of records to return in each response.","required":false,"schema":{"type":"integer","format":"int32","maximum":100,"minimum":1,"default":25}},{"name":"query","in":"query","description":"A query clause used to filter the set of resources returned. Use\n`:` for exact matches (including for boolean fields), `~` for\npartial-string matches. `:[\"a\",\"b\",\"c\"]` or `:[1,2,3]`\ncan be used for fields that support multi-value search.\n Datetime fields support exact-matching\n(`:`) as well as less-than (`<`) and greater-than (`>`). The\nsearchable fields are:\n\n`name`\n\nSearch clauses can be combined with the ` AND ` and ` OR ` operators.\n\nFor more information, see the [search documentation](https://www.kolide.com/docs/developers/api#search).\n","required":false,"examples":{"name:":{"summary":"search the 'name' property of the Person Group records using ':' operator","value":"name:string"},"name~":{"summary":"search the 'name' property of the Person Group records using '~' operator","value":"name~string"}},"schema":{"type":"string"}}],"responses":{"200":{"description":"A paginated collection of Person groups","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"description":"A group of people, these are synced from your SCIM provider\n","type":"array","items":{"$ref":"#/components/schemas/person_group"}},"pagination":{"type":"object","description":"Information about the current and next pages of results","properties":{"next":{"type":"string","format":"uri","description":"The full URL that should be used to fetch the next page of results. This will be blank if there are no more results to fetch","example":"https://api.kolide.com/person_groups?per_page=10&cursor=Imyw"},"current_cursor":{"type":"string","description":"the pagination cursor used to fetch this page of results","example":"Miwy"},"next_cursor":{"type":"string","description":"the pagination cursor that can be used to fetch the page of results following the current page. This will be blank if there are no more results to fetch ","example":"NCw0"},"count":{"type":"integer","description":"the number of records in the current page of results","example":10}}}}}}}},"401":{"description":"An 'unauthorized' response may occur for features restricted by or unavailable to your organization","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"an error message describing why the endpoint is unavailable","example":"This feature has been disabled by your organization"}}}}}},"403":{"description":"A 'forbidden' response may occur if the API key does not have necessary permissions to perform certain actions","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"a succinct error message","example":"Forbidden"},"message":{"type":"string","description":"A longer-form error message explaining the reason for the response","example":"The API key used is not authorized to perform this action"}}}}}}}}},"/person_groups/{id}":{"get":{"summary":"Fetch information for a specific Person group","parameters":[{"name":"x-kolide-api-version","in":"header","description":"Specify the API version to be used","required":false,"schema":{"type":"string","default":"2026-04-07"}},{"name":"id","in":"path","required":true,"description":"The ID of the person group","schema":{"type":"string"}}],"responses":{"200":{"description":"A group of people, these are synced from your SCIM provider\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/person_group"}}}},"401":{"description":"An 'unauthorized' response may occur for features restricted by or unavailable to your organization","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"an error message describing why the endpoint is unavailable","example":"This feature has been disabled by your organization"}}}}}},"403":{"description":"A 'forbidden' response may occur if the API key does not have necessary permissions to perform certain actions","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"a succinct error message","example":"Forbidden"},"message":{"type":"string","description":"A longer-form error message explaining the reason for the response","example":"The API key used is not authorized to perform this action"}}}}}}}}},"/auth_logs":{"get":{"summary":"Fetch a list of Auth log sessions","parameters":[{"name":"x-kolide-api-version","in":"header","description":"Specify the API version to be used","required":false,"schema":{"type":"string","default":"2026-04-07"}},{"name":"cursor","in":"query","description":"Specify the cursor to begin returning results from","required":false,"schema":{"type":"string","default":""}},{"name":"per_page","in":"query","description":"Specify the number of records to return in each response.","required":false,"schema":{"type":"integer","format":"int32","maximum":100,"minimum":1,"default":25}},{"name":"query","in":"query","description":"A query clause used to filter the set of resources returned. Use\n`:` for exact matches (including for boolean fields), `~` for\npartial-string matches. `:[\"a\",\"b\",\"c\"]` or `:[1,2,3]`\ncan be used for fields that support multi-value search.\n Datetime fields support exact-matching\n(`:`) as well as less-than (`<`) and greater-than (`>`). The\nsearchable fields are:\n\n`timestamp` , `city` , `country` , `ip_address` , `agent_version` , `browser_name` , `person_name` , `person_email` , `person_id` , `device_id` , `result`\n\nSearch clauses can be combined with the ` AND ` and ` OR ` operators.\n\nFor more information, see the [search documentation](https://www.kolide.com/docs/developers/api#search).\n","required":false,"examples":{"timestamp:":{"summary":"search the 'timestamp' property of the Auth Log records using ':' operator","value":"timestamp:2000-01-08T20:38:21Z"},"timestamp<":{"summary":"search the 'timestamp' property of the Auth Log records using '<' operator","value":"timestamp<2000-01-08T20:38:21Z"},"timestamp>":{"summary":"search the 'timestamp' property of the Auth Log records using '>' operator","value":"timestamp>2000-01-08T20:38:21Z"},"city:":{"summary":"search the 'city' property of the Auth Log records using ':' operator","value":"city:string"},"city~":{"summary":"search the 'city' property of the Auth Log records using '~' operator","value":"city~string"},"country:":{"summary":"search the 'country' property of the Auth Log records using ':' operator","value":"country:string"},"country~":{"summary":"search the 'country' property of the Auth Log records using '~' operator","value":"country~string"},"ip_address:":{"summary":"search the 'ip_address' property of the Auth Log records using ':' operator","value":"ip_address:string"},"ip_address~":{"summary":"search the 'ip_address' property of the Auth Log records using '~' operator","value":"ip_address~string"},"agent_version:":{"summary":"search the 'agent_version' property of the Auth Log records using ':' operator","value":"agent_version:string"},"agent_version~":{"summary":"search the 'agent_version' property of the Auth Log records using '~' operator","value":"agent_version~string"},"browser_name:":{"summary":"search the 'browser_name' property of the Auth Log records using ':' operator","value":"browser_name:string"},"browser_name~":{"summary":"search the 'browser_name' property of the Auth Log records using '~' operator","value":"browser_name~string"},"person_name:":{"summary":"search the 'person_name' property of the Auth Log records using ':' operator","value":"person_name:string"},"person_name~":{"summary":"search the 'person_name' property of the Auth Log records using '~' operator","value":"person_name~string"},"person_email:":{"summary":"search the 'person_email' property of the Auth Log records using ':' operator","value":"person_email:string"},"person_email~":{"summary":"search the 'person_email' property of the Auth Log records using '~' operator","value":"person_email~string"},"person_id:":{"summary":"search the 'person_id' property of the Auth Log records using ':' operator","value":"person_id:string"},"person_id~":{"summary":"search the 'person_id' property of the Auth Log records using '~' operator","value":"person_id~string"},"device_id:":{"summary":"search the 'device_id' property of the Auth Log records using ':' operator","value":"device_id:string"},"device_id~":{"summary":"search the 'device_id' property of the Auth Log records using '~' operator","value":"device_id~string"},"result:":{"summary":"search the 'result' property of the Auth Log records using ':' operator","value":"result:enumerated-value"}},"schema":{"type":"string"}}],"responses":{"200":{"description":"A paginated collection of Auth log sessions","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"description":"An Auth Log Session is a summarization of an end-user's experience\nwhen signing into apps via Kolide Device Trust authentication. An\nAuth Log Session is created when an end-user is first redirected to\nKolide to complete the Device Trust authentication flow and is\nupdated as the end-user or the system perform actions during the\nsession. These actions are considered Auth Log Events and are\nassociated with the Auth Log Session.\n","type":"array","items":{"$ref":"#/components/schemas/auth_log_session"}},"pagination":{"type":"object","description":"Information about the current and next pages of results","properties":{"next":{"type":"string","format":"uri","description":"The full URL that should be used to fetch the next page of results. This will be blank if there are no more results to fetch","example":"https://api.kolide.com/auth_logs?per_page=10&cursor=Imyw"},"current_cursor":{"type":"string","description":"the pagination cursor used to fetch this page of results","example":"Miwy"},"next_cursor":{"type":"string","description":"the pagination cursor that can be used to fetch the page of results following the current page. This will be blank if there are no more results to fetch ","example":"NCw0"},"count":{"type":"integer","description":"the number of records in the current page of results","example":10}}}}}}}},"401":{"description":"An 'unauthorized' response may occur for features restricted by or unavailable to your organization","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"an error message describing why the endpoint is unavailable","example":"This feature has been disabled by your organization"}}}}}},"403":{"description":"A 'forbidden' response may occur if the API key does not have necessary permissions to perform certain actions","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"a succinct error message","example":"Forbidden"},"message":{"type":"string","description":"A longer-form error message explaining the reason for the response","example":"The API key used is not authorized to perform this action"}}}}}}}}},"/auth_logs/{id}":{"get":{"summary":"Fetch information for a specific Auth log session","parameters":[{"name":"x-kolide-api-version","in":"header","description":"Specify the API version to be used","required":false,"schema":{"type":"string","default":"2026-04-07"}},{"name":"id","in":"path","required":true,"description":"The ID of the auth log session","schema":{"type":"string"}}],"responses":{"200":{"description":"An Auth Log Session is a summarization of an end-user's experience\nwhen signing into apps via Kolide Device Trust authentication. An\nAuth Log Session is created when an end-user is first redirected to\nKolide to complete the Device Trust authentication flow and is\nupdated as the end-user or the system perform actions during the\nsession. These actions are considered Auth Log Events and are\nassociated with the Auth Log Session.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/auth_log_session"}}}},"401":{"description":"An 'unauthorized' response may occur for features restricted by or unavailable to your organization","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"an error message describing why the endpoint is unavailable","example":"This feature has been disabled by your organization"}}}}}},"403":{"description":"A 'forbidden' response may occur if the API key does not have necessary permissions to perform certain actions","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"a succinct error message","example":"Forbidden"},"message":{"type":"string","description":"A longer-form error message explaining the reason for the response","example":"The API key used is not authorized to perform this action"}}}}}}}}},"/device_groups/{deviceGroupId}/devices":{"get":{"summary":"Fetch a list of Devices","parameters":[{"name":"x-kolide-api-version","in":"header","description":"Specify the API version to be used","required":false,"schema":{"type":"string","default":"2026-04-07"}},{"name":"cursor","in":"query","description":"Specify the cursor to begin returning results from","required":false,"schema":{"type":"string","default":""}},{"name":"per_page","in":"query","description":"Specify the number of records to return in each response.","required":false,"schema":{"type":"integer","format":"int32","maximum":100,"minimum":1,"default":25}},{"name":"query","in":"query","description":"A query clause used to filter the set of resources returned. Use\n`:` for exact matches (including for boolean fields), `~` for\npartial-string matches. `:[\"a\",\"b\",\"c\"]` or `:[1,2,3]`\ncan be used for fields that support multi-value search.\n Datetime fields support exact-matching\n(`:`) as well as less-than (`<`) and greater-than (`>`). The\nsearchable fields are:\n\n`id` , `name` , `registered_at` , `last_authenticated_at` , `serial` , `note` , `hardware_uuid` , `device_type` , `will_block_at`\n\nSearch clauses can be combined with the ` AND ` and ` OR ` operators.\n\nFor more information, see the [search documentation](https://www.kolide.com/docs/developers/api#search).\n","required":false,"examples":{"id:":{"summary":"search the 'id' property of the Device records","value":"id:[\"a\", \"b\", \"c\"]"},"name:":{"summary":"search the 'name' property of the Device records using ':' operator","value":"name:string"},"name~":{"summary":"search the 'name' property of the Device records using '~' operator","value":"name~string"},"registered_at:":{"summary":"search the 'registered_at' property of the Device records using ':' operator","value":"registered_at:2000-01-08T20:38:21Z"},"registered_at<":{"summary":"search the 'registered_at' property of the Device records using '<' operator","value":"registered_at<2000-01-08T20:38:21Z"},"registered_at>":{"summary":"search the 'registered_at' property of the Device records using '>' operator","value":"registered_at>2000-01-08T20:38:21Z"},"last_authenticated_at:":{"summary":"search the 'last_authenticated_at' property of the Device records using ':' operator","value":"last_authenticated_at:2000-01-08T20:38:21Z"},"last_authenticated_at<":{"summary":"search the 'last_authenticated_at' property of the Device records using '<' operator","value":"last_authenticated_at<2000-01-08T20:38:21Z"},"last_authenticated_at>":{"summary":"search the 'last_authenticated_at' property of the Device records using '>' operator","value":"last_authenticated_at>2000-01-08T20:38:21Z"},"serial:":{"summary":"search the 'serial' property of the Device records using ':' operator","value":"serial:string"},"serial~":{"summary":"search the 'serial' property of the Device records using '~' operator","value":"serial~string"},"note:":{"summary":"search the 'note' property of the Device records using ':' operator","value":"note:string"},"note~":{"summary":"search the 'note' property of the Device records using '~' operator","value":"note~string"},"hardware_uuid:":{"summary":"search the 'hardware_uuid' property of the Device records using ':' operator","value":"hardware_uuid:string"},"hardware_uuid~":{"summary":"search the 'hardware_uuid' property of the Device records using '~' operator","value":"hardware_uuid~string"},"device_type:":{"summary":"search the 'device_type' property of the Device records using ':' operator","value":"device_type:enumerated-value"},"will_block_at:":{"summary":"search the 'will_block_at' property of the Device records using ':' operator","value":"will_block_at:2000-01-08T20:38:21Z"},"will_block_at<":{"summary":"search the 'will_block_at' property of the Device records using '<' operator","value":"will_block_at<2000-01-08T20:38:21Z"},"will_block_at>":{"summary":"search the 'will_block_at' property of the Device records using '>' operator","value":"will_block_at>2000-01-08T20:38:21Z"}},"schema":{"type":"string"}},{"name":"deviceGroupId","in":"path","required":true,"description":"The device group ID of the device","schema":{"type":"string"}}],"responses":{"200":{"description":"A paginated collection of Devices","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"description":"A Device is a computer or mobile device enrolled into Kolide","type":"array","items":{"$ref":"#/components/schemas/device"}},"pagination":{"type":"object","description":"Information about the current and next pages of results","properties":{"next":{"type":"string","format":"uri","description":"The full URL that should be used to fetch the next page of results. This will be blank if there are no more results to fetch","example":"https://api.kolide.com/devices?per_page=10&cursor=Imyw"},"current_cursor":{"type":"string","description":"the pagination cursor used to fetch this page of results","example":"Miwy"},"next_cursor":{"type":"string","description":"the pagination cursor that can be used to fetch the page of results following the current page. This will be blank if there are no more results to fetch ","example":"NCw0"},"count":{"type":"integer","description":"the number of records in the current page of results","example":10}}}}}}}},"401":{"description":"An 'unauthorized' response may occur for features restricted by or unavailable to your organization","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"an error message describing why the endpoint is unavailable","example":"This feature has been disabled by your organization"}}}}}},"403":{"description":"A 'forbidden' response may occur if the API key does not have necessary permissions to perform certain actions","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"a succinct error message","example":"Forbidden"},"message":{"type":"string","description":"A longer-form error message explaining the reason for the response","example":"The API key used is not authorized to perform this action"}}}}}}}}},"/device_groups/{deviceGroupId}/memberships":{"post":{"summary":"Add a Device to the Device Group","parameters":[{"name":"x-kolide-api-version","in":"header","description":"Specify the API version to be used","required":false,"schema":{"type":"string","default":"2026-04-07"}},{"name":"deviceGroupId","in":"path","required":true,"description":"The device group ID of the device group member","schema":{"type":"string"}}],"responses":{"200":{"description":"The newly created Device group member","content":{"application/json":{"schema":{"$ref":"#/components/schemas/device_group_member"}}}},"401":{"description":"An 'unauthorized' response may occur for features restricted by or unavailable to your organization","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"an error message describing why the endpoint is unavailable","example":"This feature has been disabled by your organization"}}}}}},"403":{"description":"A 'forbidden' response may occur if the API key does not have necessary permissions to perform certain actions","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"a succinct error message","example":"Forbidden"},"message":{"type":"string","description":"A longer-form error message explainin
[...]
